*{
	font-family: 'Open Sans Condensed', sans-serif;
}
// about
.bout{
	background:url(../img/bout.jpg);
	background-size: cover;
	background-position: center;
	height:400px;
}
.fm{
	text-align: center;
	margin-left: 150px;
	margin-right: 150px;
}
.hd{
	opacity:0;
}
.link{
	display:inline;

}
.ppl{
	color:white;
	font-weight: 600;
	text-transform: uppercase;
}
.bt{
	text-align: center;
	font-size: 50px;
	font-weight: 400;
}
.bs{
	text-align: center;
	font-size: 40px;
	font-weight: 400;
}
// contact

// index & 404
.headline{
	font-size: 50px;
	text-align: center;
}
.line{
	margin-top: -40px;
	width:800px;
}
.zero{
opacity:0;
}
.vf{
	padding-top: 82px;
	padding-bottom: 20px;
}
.blur{
	-webkit-filter: blur(2px);
  filter: blur(2px);
}
.colors{
	background: linear-gradient(
    to right, 
    rgba(34,14,25,0.5) 0%, 
   rgba(34,14,25,0.5) 50%, 
    rgba(189,144,40,0.3) 50%, 
    rgba(189,144,40,0.3) 100%
  );
}
.sb{
	-webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-filter: sepia(2);
  filter: sepia(2);

}
.footer{
	background-color: #220e19;
	padding-top: 30px;
	padding-bottom: 1px;
	color:white;

	li{
		list-style: none;

		a{
			color:white;
		}
		a:hover{
			text-decoration: underline;
			color: #e3c57e;
		}
	}
	a{
			color:white;
		}
		a:hover{
			text-decoration: underline;
			color: #e3c57e;
		}
}
.go{
	padding-top: 10px;
	padding-bottom: 20px;
}
.snd{
	background-image:url(..img/logo.jpg);
}
.link:visited{
	border-bottom:#D9AB2B 2px solid;
}
.link:hover{
	background-color:#571c33; 
	border-bottom:#D9AB2B 2px solid;
}
#fab{
	display:none;
}
.vd{
	text-align: center;
}
.social{
	margin-top: 80px;
}
.cn{
	text-align: center;
}
.cp{
	margin-left:12px;
}
#colla{
	text-align: center;
}
.slide{
	display:block;
	font-family: 'Great Vibes', cursive;
	color:#bd9028;
	margin-top: -5px;
	font-size: 70px;

}
#top{
	margin-top: 5px;
}
@media screen and (max-width:1000px){
	#fab{
		display: block;
	}
	.up, .lav{
		display:none;
	}
	.line{
	margin-top: -40px;
	width:300px;
}
.colors{
	height:40px;
}
.go{
	background-color: white;
	margin-top:-60px;
}
#top{
	margin-top: 100px;
}
.nope{
	height:100px;
	width:380px;
}
.slide{
	display:block;
	font-family: 'Great Vibes', cursive;
	color:#bd9028;
	margin-top: -15px;
	font-size: 35px;

}
.hd{
	opacity:1;
}
.cs{
	display:none;
}
.social{
	margin-top:0px;
}
.cp{
	text-align: center;
}
.fm{
	margin-left:20px;
	margin-right:20px;
}
}