* {
  font-family: 'Open Sans Condensed', sans-serif; }

.bout {
  background: url(../img/bout.jpg);
  background-size: cover;
  background-position: center;
  height: 400px; }

.fm {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px; }

.hd {
  opacity: 0; }

.link {
  display: inline; }

.mpt {
  font-size: 16px; }

.tt {
  font-size: 24px;
  font-weight: 500;
  color: #571c33; }

.temp {
  color: #bd9028; }

.temp:hover {
  color: #984d65; }

.ppl {
  font-size: 13px;
  color: white;
  font-weight: 600;
  text-transform: uppercase; }

.bt {
  text-align: center;
  font-size: 50px;
  font-weight: 400; }

.bs {
  text-align: center;
  font-size: 40px;
  font-weight: 400; }

.headline {
  font-size: 50px;
  text-align: center; }

.line {
  margin-top: -40px;
  width: 800px; }

.zero {
  opacity: 0; }

.vf {
  padding-top: 82px;
  padding-bottom: 20px; }

.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.colors {
  background: linear-gradient(to right, rgba(34, 14, 25, 0.5) 0%, rgba(34, 14, 25, 0.5) 50%, rgba(189, 144, 40, 0.3) 50%, rgba(189, 144, 40, 0.3) 100%); }

.sb {
  -webkit-filter: blur(2px);
  filter: blur(2px); }

.blr {
  -webkit-filter: blur(4px);
  filter: blur(4px); }

.footer {
  font-size: 14px;
  background-color: #220e19;
  padding-top: 20px;
  padding-bottom: 1px;
  color: white; }
  .footer li {
    list-style: none; }
    .footer li a {
      color: white; }
    .footer li a:hover {
      text-decoration: underline;
      color: #e3c57e; }
  .footer a {
    color: white; }
  .footer a:hover {
    text-decoration: underline;
    color: #e3c57e; }

.go {
  padding-top: 10px;
  padding-bottom: 20px; }

.snd {
  background-image: url(..img/logo.jpg); }

.link:visited {
  border-bottom: #D9AB2B 2px solid; }

.link:hover {
  background-color: #571c33;
  border-bottom: #D9AB2B 2px solid; }

#fab {
  display: none; }

.vd {
  text-align: center; }

.social {
  margin-top: 60px; }

.cn {
  text-align: center; }

.cp {
  margin-left: 12px; }

#colla {
  text-align: center; }

.slide {
  display: block;
  font-family: 'Great Vibes', cursive;
  color: #bd9028;
  margin-top: -5px;
  font-size: 70px; }

.socl {
  margin-top: 50px;
  border: 2px solid #e3c57e;
  border-radius: 40px;
  padding: 40px;
  color: #220e19; }

.socl:hover {
  border: 2px solid #220e19;
  background-color: rgba(34, 14, 25, 0.6);
  color: #e3c57e; }

.fd {
  font-size: 50px; }

#top {
  margin-top: 5px; }

.bls {
  font-size: 60px;
  color: #220e19;
  font-family: 'Great Vibes', cursive; }

@-webkit-keyframes back {
  0% {
    background: #220e19; }
  25% {
    background: #bd9028; }
  50% {
    background: #984d65; }
  75% {
    background: #571c33; }
  100% {
    background: #220e19; } }
#loading {
  background: #220e19;
  -webkit-animation-name: back;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin-top: 0px;
  top: 0px; }

#loading-center {
  width: 100%;
  height: 100%;
  position: relative; }

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.object {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  background-color: #e3c57e;
  border: 4px dashed white;
  position: absolute;
  left: 65px;
  top: 65px; }

.object:nth-child(2n+0) {
  margin-right: 0px; }

#object_one {
  -webkit-animation: object_one 2s infinite;
  animation: object_one 2s infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

#object_two {
  -webkit-animation: object_two 2s infinite;
  animation: object_two 2s infinite;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

#object_three {
  -webkit-animation: object_three 2s infinite;
  animation: object_three 2s infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

#object_four {
  -webkit-animation: object_four 2s infinite;
  animation: object_four 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

#object_five {
  -webkit-animation: object_five 2s infinite;
  animation: object_five 2s infinite;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

#object_six {
  -webkit-animation: object_six 2s infinite;
  animation: object_six 2s infinite;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s; }

#object_seven {
  -webkit-animation: object_seven 2s infinite;
  animation: object_seven 2s infinite;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

#object_eight {
  -webkit-animation: object_eight 2s infinite;
  animation: object_eight 2s infinite;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s; }

#object_big {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50px;
  top: 50px;
  -webkit-animation: object_big 2s infinite;
  animation: object_big 2s infinite;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

@-webkit-keyframes object_big {
  50% {
    -webkit-transform: scale(0.5); } }
@keyframes object_big {
  50% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5); } }
@-webkit-keyframes object_one {
  50% {
    -webkit-transform: translate(-65px, -65px); } }
@keyframes object_one {
  50% {
    transform: translate(-65px, -65px);
    -webkit-transform: translate(-65px, -65px); } }
@-webkit-keyframes object_two {
  50% {
    -webkit-transform: translate(0, -65px); } }
@keyframes object_two {
  50% {
    transform: translate(0, -65px);
    -webkit-transform: translate(0, -65px); } }
@-webkit-keyframes object_three {
  50% {
    -webkit-transform: translate(65px, -65px); } }
@keyframes object_three {
  50% {
    transform: translate(65px, -65px);
    -webkit-transform: translate(65px, -65px); } }
@-webkit-keyframes object_four {
  50% {
    -webkit-transform: translate(65px, 0); } }
@keyframes object_four {
  50% {
    transform: translate(65px, 0);
    -webkit-transform: translate(65px, 0); } }
@-webkit-keyframes object_five {
  50% {
    -webkit-transform: translate(65px, 65px); } }
@keyframes object_five {
  50% {
    transform: translate(65px, 65px);
    -webkit-transform: translate(65px, 65px); } }
@-webkit-keyframes object_six {
  50% {
    -webkit-transform: translate(0, 65px); } }
@keyframes object_six {
  50% {
    transform: translate(0, 65px);
    -webkit-transform: translate(0, 65px); } }
@-webkit-keyframes object_seven {
  50% {
    -webkit-transform: translate(-65px, 65px); } }
@keyframes object_seven {
  50% {
    transform: translate(-65px, 65px);
    -webkit-transform: translate(-65px, 65px); } }
@-webkit-keyframes object_eight {
  50% {
    -webkit-transform: translate(-65px, 0); } }
@keyframes object_eight {
  50% {
    transform: translate(-65px, 0);
    -webkit-transform: translate(-65px, 0); } }
#ld {
  height: 80px;
  margin-left: 512px;
  margin-top: 290px; }

@media screen and (max-width: 1000px) {
  #fab {
    display: block; }

  .up, .lav {
    display: none; }

  .line {
    margin-top: -40px;
    width: 300px; }

  .bls {
    font-size: 42px; }

  .socl {
    font-size: 14px;
    margin-left: -30px;
    border: none; }

  .socl:hover {
    border: none;
    background-color: transparent; }

  .colors {
    height: 40px; }

  .go {
    background-color: white;
    margin-top: -60px; }

  #top {
    margin-top: 100px; }

  .nope {
    height: 100px;
    width: 380px; }

  .slide {
    display: block;
    font-family: 'Great Vibes', cursive;
    color: #bd9028;
    margin-top: -15px;
    font-size: 35px; }

  .hd {
    opacity: 1; }

  .cs {
    display: none; }

  .social {
    margin-top: 0px; }

  .cp {
    text-align: center; }

  .fm {
    margin-left: 20px;
    margin-right: 20px; } }

/*# sourceMappingURL=style.css.map */
