#layer{
	background-image: url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
	margin: -10px;
}
#top{
	background-image:url(../img/logo.jpg);
	opacity:0.5;
	padding-top:500px;
	background-position:center;
}